.text {
  transition: all 0.3s;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 20px;
  transition: all 0.4s;
  font-size: 14px;
}
input,
select {
  border-radius: 10px;
  border: 1px solid #eee;
}
input:hover,
select:hover {
  border: 1px solid #9c69c9;
  cursor: pointer;
}
.btn1 {
  padding: 16px;
  background-color: #7d0c5d;
  color: #fff;
  border-radius: 50px 4px 4px 50px;
  width: 150px;
  border: none;
  transition: all.2s;
}
.btn1:hover {
  transform: scale(1.04);
}
.btn-style {
  margin-left: -10px;

  background-color: #b14091;

  border-radius: 4px 50px 50px 4px;
}

.active-btn {
  background-color: #7d0c5d;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.unactive-btn {
  background-color: #b14091;
}
.btn-change {
  background-color: #5151c9;
  border-radius: 12px;
  padding: 7px 14px;
  color: #fff;
}
.btn-change:hover {
  background-color: #4a4ac1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.04);
}
