<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p
        appHighlightDirective
        style="font-size: 16px; text-align: center"
        class="text"
      >
        Hover over me!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="display: flex; justify-content: center">
      <button
        class="btn1 btn-fixed"
        (click)="trim = true"
        [ngClass]="{
          'active-btn': trim === true,
          'unactive-btn': trim === false
        }"
      >
        Trim text
      </button>
      <button
        class="btn1 btn-style"
        (click)="trim = false"
        [ngClass]="{
          'active-btn': trim === false,
          'unactive-btn': trim === true
        }"
      >
        Tooltip
      </button>
    </div>
  </div>
  <br />
  <form class="row" *ngIf="trim === true">
    <div class="col-xs-12">
      <input
        placeholder="Enter text to trim"
        class="form-control"
        type="text"
        style="border-radius: 10px; padding: 7px"
        appTrim
      />
      <p class="help-block">
        (Click outside the input field to see trimmed text!)
      </p>
    </div>
  </form>
  <br />
  <div class="row" *ngIf="trim === false">
    <div class="col-xs-12">
      <form class="form">
        <label>Select color of tooltip:</label>
        <input
          type="color"
          [(ngModel)]="color"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
        />
        <br />

        <label>Select position of tooltip:</label>
        <select
          [(ngModel)]="position"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
        >
          <option value="top">Top</option>
          <option value="left">Left</option>
          <option value="bottom">Bottom</option>
          <option value="right">Right</option>
        </select>
        <br />

        <label>Select font size of tooltip:</label>
        <select
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="size"
          class="form-control"
        >
          <option value="12">12</option>
          <option value="14">14</option>
          <option value="16">16</option>
          <option value="18">18</option>
          <option value="20">20</option>
          <option value="24">24</option>
          <option value="28">28</option>
          <option value="30">30</option>
          <option value="32">32</option>
          <option value="36">36</option>
        </select>
        <br />
        <button type="submit" class="btn btn-change" (click)="applyChanges()">
          Apply changes
        </button>
      </form>
      <br />
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />

  <div class="row" style="text-align: center" *ngIf="trim === false">
    <p
      appTooltip
      [tooltipText]="'This is a custom tooltip directive'"
      [result]="data"
      style="
        cursor: pointer;
        display: inline-block;
        width: auto;
        font-size: 20px;
        text-align: center;
      "
    >
      This is custom tool...
    </p>
  </div>
</div>
